@using Newtonsoft.Json
@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<OccurenceResultat> listeresultat = ViewData["listeoccurenceresultat"] as List<OccurenceResultat>;
    List<OccurenceActivite> listeactivite = ViewData["listeoccurenceactivite"] as List<OccurenceActivite>;
    List<OccurenceSousActivite> listesousactivite = ViewData["listeoccurencesousactivite"] as List<OccurenceSousActivite>;
}

<!-- Affichage de la liste des OccurenceResultat -->
<h2>Liste des OccurenceResultat</h2>
<ul>
    @foreach (var resultat in listeresultat)
    {
        <li>Id: @resultat.Id, IdProjet: @resultat.IdProjet, IdResultat: @resultat.IdResultat, Avancement: @resultat.Avancement</li>
    }
</ul>

<!-- Affichage de la liste des OccurenceActivite -->
<h2>Liste des OccurenceActivite</h2>
<ul>
    @foreach (var activite in listeactivite)
    {
        <li>Id: @activite.Id, IdOccurenceResultat: @activite.IdOccurenceResultat, IdActivite: @activite.IdActivite, Budget: @activite.Budget, DateDebut: @activite.DateDebut, DateFin: @activite.DateFin, Avancement: @activite.Avancement</li>
    }
</ul>

<!-- Affichage de la liste des OccurenceSousActivite -->
<h2>Liste des OccurenceSousActivite</h2>
<ul>
    @foreach (var sousactivite in listesousactivite)
    {
        <li>Id: @sousactivite.Id, IdOccurenceActivite: @sousactivite.IdOccurenceActivite, IdSousActivite: @sousactivite.IdSousActivite, Budget: @sousactivite.Budget, DateDebut: @sousactivite.DateDebut, DateFin: @sousactivite.DateFin, Avancement: @sousactivite.Avancement</li>
    }
</ul>

<form action="/ExportPDF/GeneratePdf/">
    <input type="hidden" name="activite" value="">
    <input type="hidden" name="resultat" value="">
    <button type="submit">Generer le PDF</button>
</form>