@model List<OccurenceResultat>
@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
}

<div>
    <h1>Vos données hiérarchiques :</h1>
    @foreach (var resultat in Model)
    {
        <div>
            <h2>Résultat @resultat.Id - @resultat.IdResultat</h2>
            <ul>
                @foreach (var activite in resultat.ListeOccurenceActivites)
                {
                    <li>
                        <h3>Activité @activite.Id - @activite.IdActivite</h3>
                        <ul>
                            @foreach (var sousActivite in activite.ListeOccurenceSousActivites)
                            {
                                <li>
                                    Sous-activité @sousActivite.Id - @sousActivite.IdSousActivite
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    }
</div>


<form action="/ExportPDF/GeneratePdf/">
    <button type="submit">Generer le PDF</button>
</form>