@{
    ViewBag.Title = "title";
    int idoccurencesousactivite = ViewBag.idoccurencesousactivite;
    Layout = "_LayoutGlobalProject";
    int idoccurenceactivite = ViewBag.idoccurenceactivite;
    List<SiteSousActivite> liste = ViewData["listesiteoccurencesousactivite"] as List<SiteSousActivite>;
    List<OccurenceSousActiviteIndicateur> listeindic = ViewData["listeoccurencesousactiviteindicateur"] as List<OccurenceSousActiviteIndicateur>;
}

<div class="container mt-5">
    <br>
    <h3>Target Indicateur</h3>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Indicateur</th>
            <th>Target</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var v in listeindic)
        {
            <tr>
                <td>@v.TypeIndicateur.Nom</td>
                <td>@v.Target</td>
            </tr>
        }
        </tbody>
    </table>

    <form action="/SiteSousActivite/VersInsertionSiteSousActivite">
        <input type="hidden" name="idoccurencesousactivite" value="@idoccurencesousactivite">
        <button type="submit" class="btn btn-primary mt-2">Insérer Nouveau Site</button>
    </form>

    <br>
    <h3 class="mt-4">Liste des Sites</h3>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th>Libellé</th>
            <th>Commune</th>
            <th>District</th>
            <th>Région</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var v in liste)
        {
            <tr>
                <td>@v.Libelle</td>
                <td>@v.Commune.Nom</td>
                <td>@v.District.Libelle</td>
                <td>@v.Region.Nom</td>
                <td>
                    <form action="/OccurenceSousActivite/VersDetailsSiteSousActivite/">
                        <input type="hidden" name="idoccurencesousactivite" value="@idoccurencesousactivite">
                        <input type="hidden" name="idsitesousactivite" value="@v.Id">
                        <button type="submit" class="btn btn-link">Détails</button>
                    </form>
                </td>
                <td>
                    <form action="/BackOfficeSousActivite/VersListeRapportSousActivite">
                        <input type="hidden" name="idsitesousactivite" value="@v.Id">
                        <button type="submit" class="btn btn-link">Liste Rapport</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<br>
<form action="/SousActiviteSourceDeVerification/VersListe">
    <input type="hidden" name="idoccurencesousactivite" value="@idoccurencesousactivite">
    <input type="submit" value="Source de verification">
</form>
<br>
<form action="/OccurenceSousActivite/RetourVersListeOccurenceSousActivite/">
    <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">
    <button type="submit">Retour Vers Liste Sous Activites</button>
</form>