@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    OccurenceActivite oc = ViewData["occurenceactivite"] as OccurenceActivite;
    List<OccurenceActiviteIndicateur> liste = ViewData["listeoccurenceactiviteindicateur"] as List<OccurenceActiviteIndicateur>;
    List<SiteActivite> listesite = ViewData["listesiteoccurenceactivite"] as List<SiteActivite>;
    List<PartiePrenanteOccurenceActivite> listep = ViewData["listepartieprenante"] as List<PartiePrenanteOccurenceActivite>;
}

<div class="container mt-5">
    <h3>@oc.Activite.Nom</h3>
    <br>
    <div class="row">
        <div class="col-md-3">
            <strong>Budget:</strong>
            <p>@oc.Budget</p>
        </div>
        <div class="col-md-3">
            <strong>Date Début:</strong>
            <p>@oc.DateDebut</p>
        </div>
        <div class="col-md-3">
            <strong>Date Fin:</strong>
            <p>@oc.DateFin</p>
        </div>
        <div class="col-md-3">
            <strong>Avancement:</strong>
            <p>@oc.Avancement %</p>
        </div>
        <div class="col-md-3">
            <p class="@oc.Couleur">Etat</p>
        </div>
    </div>

    <form action="/IndicateurActivite/VersInsertionActiviteIndicateur">
        <input type="hidden" name="idoccurenceactivite" value="@oc.Id">
        <button type="submit" class="btn btn-primary mt-2">Ajouter indicateur</button>
    </form>

    <br>
    <h4 class="mt-4">Target Indicateurs</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Indicateur</th>
            <th>Target</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var v in liste)
        {
            <tr>
                <td>@v.TypeIndicateur.Nom</td>
                <td>@v.Target</td>
            </tr>
        }
        </tbody>
    </table>

    <form action="/SiteActivite/VersInsertionSiteActivite">
        <input type="hidden" name="idoccurenceactivite" value="@oc.Id">
        <button type="submit" class="btn btn-primary mt-2">Ajouter sites</button>
    </form>

    <h3 class="mt-4">Liste Sites</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Libelle</th>
            <th>Commune</th>
            <th>District</th>
            <th>Region</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var v in listesite)
        {
            <tr>
                <td>@v.Libelle</td>
                <td>@v.Commune.Nom</td>
                <td>@v.District.Libelle</td>
                <td>@v.Region.Nom</td>
                <td>
                    <form action="/SiteActivite/VersDetailsSiteActivite">
                        <input type="hidden" name="idsiteactivite" value="@v.Id">
                        <button type="submit" class="btn btn-link">Détails</button>
                    </form>
                </td>
                <td>
                    <form action="/BackOfficeActivite/VersListeRapportActivite">
                        <input type="hidden" name="idsiteactivite" value="@v.Id">
                        <button type="submit" class="btn btn-link">Liste rapport</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<br>

<h3 class="mt-4">Partie Prennantes</h3>
<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in listep)
    {
        <tr>
            <td>@v.PartiePrenante.Nom</td>
        </tr>
    }
    </tbody>
</table>
<form action="/OccurenceActivite/VersInsertionPartiePrenante">
    <input type="hidden" name="idoccurenceactivite" value="@oc.Id">
    <button type="submit" class="btn btn-primary mt-2">Ajouter partie prenantes</button>
</form>

<br>
<form action="/ActiviteSourceDeVerification/VersListe">
    <input type="hidden" name="idoccurenceactivite" value="@oc.Id">
    <button type="submit" class="btn btn-primary mt-2">Source de Verification</button>
</form>

<br>
<form action="/Prolongement/VersListeProlongementOccurenceActivite">
    <input type="hidden" name="idoccurenceactivite" value="@oc.Id">
    <button type="submit" class="btn btn-primary mt-2">Etat Prolongement</button>
</form>

<br>
<form action="/OccurenceActivite/RetourVersListeOccurenceActivite">
    <input type="hidden" name="idoccurenceresultat" value="@oc.IdOccurenceResultat">
    <button type="submit" class="btn btn-primary mt-2">Retour Vers Liste</button>
</form>