@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<TechnicienProjet> liste = ViewData["listetechnicien"] as List<TechnicienProjet>;
    List<OccurenceSousActiviteIndicateur> listeindic = ViewData["listeindicateur"] as List<OccurenceSousActiviteIndicateur>;
    int idsitesousactivite = ViewBag.idsitesousactivite;
    List<IndicateurTechnicienSiteSousActivite> listetech = ViewData["indicateurtechniciensitesousactivite"] as List<IndicateurTechnicienSiteSousActivite>;
    int idoccurencesousactivite = ViewBag.idoccurencesousactivite;
}

<h2>Detail Site</h2>

<br>

<table class="table">
    <thead>
    <tr>
        <th>Technicien</th>
        <th>Indicateur</th>
        <th>Target</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in listetech)
    {
        <tr>
            <td>@v.Technicien.Email</td>
            <td>@v.TypeIndicateur.Nom</td>
            <td>@v.Target</td>
            <td>
                <form action="/BackOfficeSousActivite/VersRapportSousActivite">
                    <input type="hidden" name="idtechnicien" value="@v.IdTechnicien">
                    <input type="hidden" name="idindicateur" value="@v.IdIndicateur">
                    <input type="hidden" name="idsitesousactivite" value="@idsitesousactivite">
                    <input type="submit" value="rapport">
                </form>
            </td>
            <td>
                <input type="submit" value="liste rapport">
            </td>
        </tr>   
    }
    </tbody>
</table>

<br>
<h3>Donner Travail</h3>
<br>

<form action="/SiteSousActivite/CreateWithIndicateur">
    <select name="idtechnicien" id="idtechnicien">
        @foreach (var v in liste)
        {
            <option value="@v.IdTechnicien">@v.Technicien.Email</option>   
        }
    </select>
    <select name="idindicateur" id="idindicateur">
        @foreach (var v in listeindic)
        {
            <option value="@v.IdIndicateur">@v.TypeIndicateur.Nom</option>   
        }
    </select>
    <input type="text" name="target">
    <input type="hidden" name="idsitesousactivite" value="@idsitesousactivite">
    <input type="submit" value="attribuer">
</form>

<form action="/OccurenceSousActivite/RetourVersDetailsOccurenceSousActivite/">
    <input type="hidden" name="idoccurencesousactivite" value="@idoccurencesousactivite">
    <button type="submit">Retour Vers Liste Sous Activite</button>
</form>