@model AnaeLogiciel.Models.Projet

@{
    ViewData["Title"] = "Details";
    List<ProjetComposant> liste = ViewData["listecomposant"] as List<ProjetComposant>;
    List<OccurenceResultat> lister = ViewData["listeoccurenceresultat"] as List<OccurenceResultat>;
    List<TechnicienProjet> listet = ViewData["listetechnicien"] as List<TechnicienProjet>;
    List<ProjetPartenaireTechnique> listep = ViewData["listepartenaire"] as List<ProjetPartenaireTechnique>;
}

<div class="container mt-5">
    <h1 class="mb-4">Détails du Projet "@Model.Nom"</h1>

    <div class="row">
        <div class="col-md-6">
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Sigle</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Sigle)</dd>
                <dt class="col-sm-3">Début</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DateDebutPrevision)</dd>
                <dt class="col-sm-3">Fin</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DateFinPrevision)</dd>
                <dt class="col-sm-3">Avancement</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Avancement) %</dd>
                <dt class="col-sm-3">Détails</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Details)</dd>
                <dt class="col-sm-3">Partenaire Financier</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Bailleur.Nom)</dd>
                <dt class="col-sm-3">Budget</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Budget) Ar</dd>
            </dl>
        </div>

        <div class="col-md-6">
            <form action="/Projet/VersAffectationTechnicien">
                <button type="submit" class="btn btn-primary mt-4">Affecter techniciens</button>
            </form>
            <h3 class="mt-4">Techniciens</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var v in listet)
                    {
                        <tr>
                            <td>@v.Technicien.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <h3 class="mt-4">Composants</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in liste)
            {
                <tr>
                    <td>@v.Composant.Nom</td>
                </tr>
            }
        </tbody>
    </table>

    <h3 class="mt-4">Résultats</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Avancement</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in lister)
            {
                <tr>
                    <td>@v.Resultat.Nom</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width:@v.Avancement%" aria-valuenow="@v.Avancement" aria-valuemin="0" aria-valuemax="100">
                                @v.Avancement %
                            </div>
                        </div>
                    </td>
                    <td>
                        <form action="/OccurenceActivite/ListeOccurenceActivites">
                            <input type="hidden" name="idoccurenceresultat" value="@v.Id">
                            <button type="submit" class="btn btn-link">Liste activités</button>
                        </form>
                    </td>
                    <td>
                        <form action="/OccurenceActivite/VersInsertionOccurenceActivite">
                            <input type="hidden" name="idoccurenceresultat" value="@v.Id">
                            <button type="submit" class="btn btn-link">Ajouter activité</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
        
    <br>
    
    <h3 class="mt-4">Partenaires Technique</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var v in listep)
            {
                <tr>
                    <td>@v.PartenaireTechnique.Nom</td>
                </tr>   
            }
        </tbody>
    </table>
    
    <br>
    <form action="/Prolongement/VersListeProlongementProjet">
        <input type="hidden" name="idprojet" value="@Model.Id">
        <button type="submit" class="btn btn-secondary">Vers Liste Prolongement Budgetaire</button>
    </form>
    <br>
    
    <form action="/Projet/VersInsertionPartenaireTechnique">
        <input type="hidden" name="idprojet" value="@Model.Id">
        <button type="submit" class="btn btn-secondary">Ajouter partenaire technique</button>
    </form>
    
    <br>
    
    <form action="/ExportPDF/VersExportProjet">
        <input type="hidden" name="idprojet" value="@Model.Id">
        <button type="submit" class="btn btn-secondary">Vers Export PDF</button>
    </form>
    
    <br>
    
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Éditer</a>
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
