@{
    ViewBag.Title = "title";
    Layout = "_LayoutGlobalProject";
    List<TechnicienProjet> liste = ViewData["listetechnicien"] as List<TechnicienProjet>;
    List<OccurenceActiviteIndicateur> listeindic = ViewData["listeindicateur"] as List<OccurenceActiviteIndicateur>;
    int idsiteactivite = ViewBag.idsiteactivite;
    List<IndicateurTechnicienSiteActivite> listetech = ViewData["indicateurtechniciensiteactivite"] as List<IndicateurTechnicienSiteActivite>;
    int idoccurenceactivite = ViewBag.idoccurenceactivite;
}

<h2>Detail Site</h2>

<br>

<table class="table">
    <thead>
    <tr>
        <th>Technicien</th>
        <th>Indicateur</th>
        <th>Target</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var v in listetech)
        {
            <tr>
                <td>@v.Technicien.Email</td>
                <td>@v.TypeIndicateur.Nom</td>
                <td>@v.Target</td>
                <td>
                    <form action="/BackOfficeActivite/VersRapportActivite">
                        <input type="hidden" name="idtechnicien" value="@v.IdTechnicien">
                        <input type="hidden" name="idsiteactivite" value="@idsiteactivite">
                        <input type="hidden" name="idindicateur" value="@v.IdIndicateur">
                        <input type="submit" value="rapport">
                    </form>
                </td>
            </tr>   
        }
    </tbody>
</table>

<br>
<h3>Donner Travail</h3>
<br>

<form action="/SiteActivite/CreateWithIndicateur">
    <select name="idtechnicien" id="idtechnicien">
        @foreach (var v in liste)
        {
            <option value="@v.IdTechnicien">@v.Technicien.Email</option>   
        }
    </select>
    <select name="idindicateur" id="idindicateur">
        @foreach (var v in listeindic)
        {
            <option value="@v.IdIndicateur">@v.TypeIndicateur.Nom</option>   
        }
    </select>
    <input type="text" name="target">
    <input type="hidden" name="idsiteactivite" value="@idsiteactivite">
    <input type="submit" value="attribuer">
</form>

<br>

<form action="/SiteActivite/VersMapSiteActivite">
    <input type="hidden" name="idsiteactivite" value="@idsiteactivite">
    <button type="submit">Regarder sur la map</button>
</form>

<br>

<form action="/OccurenceActivite/RetourVersDetailsOccurenceActivite/">
    <input type="hidden" name="idoccurenceactivite" value="@idoccurenceactivite">
    <button type="submit">Retour Vers Liste Activites</button>
</form>